.day, .day-scheme {
  --color-fg: black;
  --color-bg: white;

  --color-grid-fg: #ccc;
  --color-grid-bg: var(--color-bg);
}

.dark, .dark-scheme {
  --color-fg: white;
  --color-bg: black;

  --color-grid-fg: #aaa;
  --color-grid-bg: #777;
}

@media (prefers-color-scheme: light) {
  .dark {
    --color-fg: black;
    --color-bg: white;

    --color-grid-fg: #ccc;
    --color-grid-bg: var(--color-bg);
  }
}

@media (prefers-color-scheme: dark) {
  .day {
    --color-fg: white;
    --color-bg: black;

    --color-grid-fg: #666;
    --color-grid-bg: #444;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-fg);
  background: var(--color-bg);
}

#tabletop {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.grid-pattern {
  stroke: var(--color-grid-fg);
  fill: var(--color-grid-bg);
}

.control-panel {
  position: absolute;
  z-index: 1;

  right: 0;
  margin: 1em 1em 0 0;
}