form {
    display: grid;
    row-gap: 0.5rem;
}

label {
    justify-self: start;

    font-weight: bold;
}

input[type=text] {
    justify-self: center;
    width: 25vw;

    color: var(--black);
    background-color: var(--white);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    font-size: 1.2rem;
    border: 2px solid #111;

    padding: 0.5rem;
}

input[type=text]:focus {
    border-color: var(--brand-primary);
    border-radius: 0.5rem;
}


input[type=submit] {
    justify-self: end;

    width: 33.3%;

    appearance: none;

    border: none;
    outline: none;
    
    color: var(--white);
    background-color: var(--brand-primary);

    padding: 0.5rem 1rem;

    font-family: Germania One, Impact, system-ui, sans-serif;
    font-size: 1.5rem;

    cursor: pointer;
}