
.button {
    appearance: none;

    border: none;
    outline: none;
    
    color: var(--white);
    background-color: var(--brand-primary);

    padding: 0.5rem 1rem;

    font-family: Lato, system-ui, sans-serif;
    font-size: 1.15rem;

    cursor: pointer;
}