name: Test

on: push 

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        run: npm ci

      - name: Run tests
        run: npm run test